# compiled output
dist/
build/

# dependencies
node_modules/
node_modules/.prisma/
node_modules/@prisma/client/

# logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store
Thumbs.db

# tests
coverage/
.nyc_output/

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# env files
.env
.env.*
!.env.example

# temp
.temp/
.tmp/

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# uploads (local file storage for MVP)
uploads/

# local docker volumes (if stored in repo)
pgdata/
